header
{
    width: 100%;
    background-color: var(--page-header-bg);
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-img
{
    width: 250px;
    height: 60px;
}

.header-main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    background-color: var(--page-header-bg);
    width: 1280px;
}

.header-main > *
{
    margin: 0px 20px;
}

.header-links
{
    height: 50px;
    background-color: var(--header-links-bg);
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-pages
{
    width: 1280px;
    display: flex;
    justify-content: space-evenly;
}

.header-links .ul-links, .ul-contact
{
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
}

.ul-contact li a
{
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--header-links-bg-border);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.ul-contact > *
{
    margin: 0px 10px;
}

.header-pages .ul-links > *
{
    display: block;
    height: 99%;
    font-size: 1rem;
    border-bottom: 1px solid var(--header-links-bg-border);
}

.header-pages .ul-links li
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-pages .ul-links li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    border-right: 1px solid var(--header-links-bg-border);
    padding: 10px 20px;
    text-align: center;
}

.header-pages .ul-links li:hover
{
    border-bottom: 1px solid var(--accent-color);
}

.header-categories
{
    outline: none;
    height: 45px;
    background-color: transparent;
    border: 1px solid var(--header-links-bg-border);
    cursor: pointer;
    color: var(--text-color);
    border-radius: 10px;
    width: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-textright
{
    margin-right: 10px;
}

.header-search-container
{
    overflow: hidden;
    display: flex;
    border-radius: 30px;
}

.header-search-btn
{
    width: 50px;
    height: 45px;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.header-search
{
    width: 400px;
    height: 45px;
    padding: 10px;
    outline: none;
    border: none;
}

.header-wishlist, .header-cart
{
    width: 100px;
    height: 60px;
    background-color: var(--header-links-bg);
    border-radius: 10px;
    border: 1px solid var(--header-links-bg-border);
    color: var(--text-color);
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-additional
{
    display: flex;
}

.header-cart
{
    position: relative;
}

.cart-counter
{
    position: absolute;
    top: -10%;
    right: 10%;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--page-header-bg);
}

/* Tablets */
@media screen and ((max-width: 1279px) and (min-width: 769px)) 
{
    header
    {
        width: 100vw;
        max-width: 100vw;
        height: 144px;
    }

    .header-img
    {
        width: 200px;
        height: 60px;
    }

    .header-main
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
        background-color: var(--page-header-bg);
        width: 100vw;
        gap: 10px;
        padding: 10px;
        justify-content: center;
    }

    .header-main > *
    {
        margin: 0px 5px;
    }

    .header-links
    {
        height: 50px;
        background-color: var(--header-links-bg);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-pages
    {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .header-links .ul-links
    {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        height: 100%;
    }

    .ul-contact
    {
        display: none;
    }

    .ul-links li
    {
        border-right: 1px solid var(--header-links-bg-border);
    }

    .header-pages .ul-links li a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--text-color);
        border-right: none;
        padding: 8px 18px;
        text-align: center;
    }

    .header-pages .ul-links li:hover
    {
        border-bottom: 1px solid var(--accent-color);
    }

    .fa-textright
    {
        margin-right: 10px;
    }

    .header-search-container
    {
        overflow: hidden;
        display: flex;
        border-radius: 30px;
        width: 100%;
    }

    .header-search-btn
    {
        width: 50px;
        height: 45px;
        background-color: var(--accent-color);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .header-search
    {
        width: 100%;
        height: 45px;
        padding: 10px;
        outline: none;
        border: none;
    }

    .header-img-wrapper
    {
        order: 1;
    }

    .header-additional
    {
        order: 3;
    }

    .header-search-container
    {
        order: 4;
    }

    .header-categories
    {
        order: 2;
    }
}

/* Mobile */
@media screen and (max-width: 768px)
{
    header
    {
        width: 100vw;
        max-width: 100vw;
        height: 144px;
    }

    .header-img
    {
        width: 200px;
        height: 60px;
    }

    .header-main
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
        background-color: var(--page-header-bg);
        width: 100vw;
        gap: 10px;
        padding: 10px;
        justify-content: center;
    }

    .header-main > *
    {
        margin: 0px 5px;
    }

    .header-links
    {
        height: 50px;
        background-color: var(--header-links-bg);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-pages
    {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .header-links .ul-links
    {
        overflow-x: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        height: 100%;
    }

    .ul-contact, .header-categories, .header-wishlist
    {
        display: none;
    }

    .ul-links li
    {
        border-right: 1px solid var(--header-links-bg-border);
    }

    .header-pages .ul-links li a
    {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--text-color);
        border-right: none;
        padding: 8px 18px;
        text-align: center;
    }

    .header-pages .ul-links li:hover
    {
        border-bottom: 1px solid var(--accent-color);
    }

    .fa-textright
    {
        margin-right: 10px;
    }

    .header-search-container
    {
        overflow: hidden;
        display: flex;
        border-radius: 30px;
        width: 100%;
    }

    .header-search-btn
    {
        width: 50px;
        height: 45px;
        background-color: var(--accent-color);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .header-search
    {
        width: 100%;
        height: 45px;
        padding: 10px;
        outline: none;
        border: none;
    }

    .header-img-wrapper
    {
        order: 1;
    }

    .header-additional
    {
        order: 2;
    }

    .header-search-container
    {
        order: 3;
    }
}