:root
{
  --page-header-bg: #000;
  --header-links-bg: #333;
  --header-links-bg-border: #5e5e5e;
  --accent-color: #ffcb05;
  --saving-color: #EE0000;
  --text-color: #fff;
}

*
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}